/* Your Styles Here */
.card{
    background-color: aliceblue;
    text-align: center;
    padding-left: 100px;
    font: serif;

}

.button {
    background-color: whitesmoke;
    border-radius: 20;
}
/* body{
} */