/* Your Styles Here */
.card{
    background-color: aliceblue;
    text-align: center;
    padding-left: 100px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    background-color: whitesmoke;
    border-radius: 20;
}
/* body{
} */